body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #172554;
    flex-direction: row;
    gap: 5vw;
}

form {
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 40vw;
}

label {
    display: block;
    margin-top: 10px;
}

.divide label {
    display: block;
}

input[type="text"],
input[type="number"],
input[type="date"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 3px;
}


input[type="email"],
input[type="password"] {
    width: calc(40% - 20px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.divide {
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    margin-bottom: 20px;
    gap: 20px;
}

input[type="submit"] {
    background-color: #172554;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #172554;
}

.title {
    color: white;
}

.title h2{
    color: #3b82f6
}

.divide label {
    margin-top: 0;
}


.results {
    display: flex;
    align-items: left;
    justify-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: column;
    padding: 50px;
    border-radius: 5px;
}

.results h1 {
    color: #3b82f6;
    text-align: center;
}

hr {
    width: 200px;
    
}